### Module 6: Data Manipulation Using Pandas

1. You are given a data set, which is present in the LMS, containing the number of
hurricanes occurring in the United States along the coast of the Atlantic. Load the
data from the dataset into your program and plot a Bar Graph of the data, taking
the Year as the x-axis and the number of hurricanes occurring as the Y-axis.

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
df = pd.read_csv('D:\workflow\dt_learn_data_science\edureka\datasets\Module_6 and Module-7\Hurricanes.csv')

fig = plt.figure(figsize=(15,5))
plt.bar()
# sns.barplot(data=df, x='Year', orient='h', y='Hurricanes')

In [2]:
df

     Year  Hurricanes
0    1914           0
1    1915           5
2    1916          10
3    1917           2
4    1918           4
..    ...         ...
96   2010          12
97   2011           7
98   2012          10
99   2013           2
100  2014           6

[101 rows x 2 columns]