#### Module 11: Database Integration with Python

1. Create a database called retails.

In [43]:
import mysql.connector
from mysql.connector import connect, Error

In [44]:
try:
    with connect(host="localhost", user="root", password="") as connector:
        with connector.cursor() as cursor:
            cursor.execute("CREATE DATABASE retails")
            print("Database created")

except Error as e:
    print(e)

Database created

2. Connect to the newly created database and create tables called customer and
orders.

In [45]:
tableCustomers = """
CREATE TABLE IF NOT EXISTS customers(
    id INTEGER PRIMARY KEY,
    age INTEGER NOT NULL,
    city VARCHAR(50) NOT NULL,
    gender VARCHAR(5) NOT NULL
)
"""

tableOrders = """
CREATE TABLE IF NOT EXISTS orders(
    id INTEGER AUTO_INCREMENT PRIMARY KEY,
    Date VARCHAR(50) NOT NULL,
    price DECIMAL(10,2) NOT NULL,
    quantity INTEGER NOT NULL
)
"""
dbConnection = mysql.connector.connect(host="localhost", user="root", password="", database="retails")
cursor = dbConnection.cursor()

try:
    cursor.execute(tableCustomers)
    print("Customers table created")
except Error as e:
    print(e)  

try:
    cursor.execute(tableOrders)
    print("Orders table created")
except Error as e:
    print(e)

Customers table created
Orders table created

3. Add a new ‘is_sale’ column in ‘orders’ table.

In [46]:
alterTableOrders = """ ALTER TABLE orders ADD COLUMN is_sale INT"""
try:
    cursor.execute(alterTableOrders)
    print("Column created")
except Error as e:
    print(e)

Column created

4. Insert values into the customer table and display the contents.

In [47]:
insertCustomers = """ 
INSERT INTO customers (id, age, city, gender)
VALUES (1001, 34, 'Austin', 'male'),
       (1002, 37, 'Houston', 'male'),
       (1003, 25, 'Austin','female'),
       (1004, 28, 'Houston', 'female'),
       (1005, 22, 'Dallas', 'male')
"""

try:
    cursor.execute(insertCustomers)
    print("Data inserted successfully")
except Error as e:
    print(e)  

cursor.execute("SELECT * FROM customers")
records = cursor.fetchall()
for record in records:
    print(record)

Data inserted successfully
(1001, 34, 'Austin', 'male')
(1002, 37, 'Houston', 'male')
(1003, 25, 'Austin', 'femal')
(1004, 28, 'Houston', 'femal')
(1005, 22, 'Dallas', 'male')

5. Show the details of customers who are located in Austin City.

In [48]:
selectCustomersAustin = """
SELECT * FROM customers where city = 'Austin'
"""
try:
    cursor.execute(selectCustomersAustin)
    for row in cursor.fetchall():
        print(row)
except Error as e:
    print(e)

(1001, 34, 'Austin', 'male')
(1003, 25, 'Austin', 'femal')

6. Group customers based on location and display the information.

In [49]:
selectandGroupByLocCustomers = """
SELECT count(id), city FROM customers group by city
"""
try:
    cursor.execute(selectandGroupByLocCustomers)
    for row in cursor.fetchall():
        print(row)
except Error as e:
    print(e)

(2, 'Austin')
(1, 'Dallas')
(2, 'Houston')

7. Group customers based on their gender and display the information.

In [50]:
selectandGroupByGenderCustomers = """
SELECT count(id), gender FROM customers group by gender
"""
try:
    cursor.execute(selectandGroupByGenderCustomers)
    for row in cursor.fetchall():
        print(row)
except Error as e:
    print(e)

(2, 'femal')
(3, 'male')

8. Insert values into the orders table and display the contents.

In [51]:
insertOrders = """ 
INSERT INTO orders (Date, price, quantity)
VALUES ('2022-10-1', 100.25, 1),
       ('2022-10-2',200.75, 2),
       ('2022-10-3',500.00,3),
       ('2022-10-3', 600.00,4),
       ('2022-10-4', 600.00,5)
"""

try:
    cursor.execute(insertOrders)
    print("Data inserted successfully")
except Error as e:
    print(e)  

cursor.execute("SELECT * FROM orders")
records = cursor.fetchall()
for record in records:
    print(record)

Data inserted successfully
(1, '2022-10-1', Decimal('100.25'), 1, None)
(2, '2022-10-2', Decimal('200.75'), 2, None)
(3, '2022-10-3', Decimal('500.00'), 3, None)
(4, '2022-10-3', Decimal('600.00'), 4, None)
(5, '2022-10-4', Decimal('600.00'), 5, None)

9. Show order details that were purchased on 2022-10-03.

In [55]:
selectOrdersPurchase_2022_10_03 = """
SELECT * FROM orders WHERE Date = '2022-10-3'
"""
try:
    cursor.execute(selectOrdersPurchase_2022_10_03)
    for row in cursor.fetchall():
        print(row)
except Error as e:
    print(e)

(3, '2022-10-3', Decimal('500.00'), 3, None)
(4, '2022-10-3', Decimal('600.00'), 4, None)

10.Show orders that have an order amount of more than 300.

In [56]:
selectOrdersAmount_300 = """
SELECT * FROM orders WHERE price > 300
"""
try:
    cursor.execute(selectOrdersAmount_300)
    for row in cursor.fetchall():
        print(row)
except Error as e:
    print(e)

(3, '2022-10-3', Decimal('500.00'), 3, None)
(4, '2022-10-3', Decimal('600.00'), 4, None)
(5, '2022-10-4', Decimal('600.00'), 5, None)

11.Show all orders placed on 2022-10-03 and represent it in sorted form with
respect to the amount spent.

In [64]:
selectOrdersPurchaseSorted_2022_10_03 = """
SELECT * FROM orders WHERE Date = '2022-10-3' order by price asc;
"""
try:
    cursor.execute(selectOrdersPurchase_2022_10_03)
    for row in cursor.fetchall():
        print(row)
except Error as e:
    print(e)

(3, '2022-10-3', Decimal('500.00'), 3, None)
(4, '2022-10-3', Decimal('600.00'), 4, None)

12.Count the number of distinct days in the data.

In [70]:
selectOrderDistinctDays = """
SELECT count(distinct date) FROM orders;
"""
try:
    cursor.execute(selectOrderDistinctDays)
    for row in cursor.fetchall():
        print(row)
except Error as e:
    print(e)

(4,)

13.Count the orders grouped by date.

In [73]:
selectOrderByDate = """
SELECT count(id), Date FROM orders group by Date
"""
try:
    cursor.execute(selectOrderByDate)
    for row in cursor.fetchall():
        print(row)
except Error as e:
    print(e)

(1, '2022-10-1')
(1, '2022-10-2')
(2, '2022-10-3')
(1, '2022-10-4')

14.Calculate the average order amount for all days.

In [76]:
selectOrdersAverageByDay = """
SELECT avg(price), Date FROM orders group by Date
"""
try:
    cursor.execute(selectOrdersAverageByDay)
    for row in cursor.fetchall():
        print(row)
except Error as e:
    print(e)

(Decimal('100.250000'), '2022-10-1')
(Decimal('200.750000'), '2022-10-2')
(Decimal('550.000000'), '2022-10-3')
(Decimal('600.000000'), '2022-10-4')