# Creating a spark session

In [73]:
import os
from pyspark import SparkConf
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").config(conf=SparkConf()).getOrCreate()

# loading the data and assigning the schema.

items="file:///D://data-master/retail_db/order_items"
items=spark.read.format("text").load(items)
items=items.selectExpr("cast(split(value,',') [0] as int) order_item_id",\
 "cast(split(value,',') [1] as int) order_item_order_id",\
 "cast(split(value,',') [2] as int) order_item_product_id",\
 "cast(split(value,',') [3] as int) order_item_quantity",\
 "cast(split(value,',') [4] as float) order_item_subtotal",\
 "cast(split(value,',') [5] as float) order_item_product_price")

orders="file:///D://data-master/retail_db/orders"
orders=spark.read.format("text").load(orders)
orders=orders.selectExpr("cast(split(value,',') [0] as int) order_customer_id",
 "cast(split(value,',') [1] as date) order_date",
 "cast(split(value,',') [2] as int) order_id",
 "cast(split(value,',') [3] as string) order_status")

products="file:///D://data-master/retail_db/products"
products=spark.read.format("text").load(products)
products=products.selectExpr("cast(split(value,',') [0] as int) product_id",
 "cast(split(value,',') [1] as int) product_category_id",
 "cast(split(value,',') [2] as string) product_name",
"cast(split(value,',') [3] as string) product_description",
"cast(split(value,',') [4] as float) product_price",
"cast(split(value,',') [5] as string) product_image")


    
categories="file:///D://data-master/retail_db/categories"
categories=spark.read.format("text").load(categories)
categories=categories.selectExpr("cast(split(value,',') [0] as int) category_id",
 "cast(split(value,',') [1] as int) category_department_id",
 "cast(split(value,',') [2] as string) category_name")

items.show()
orders.show()
products.show()
categories.show()

+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|order_item_id|order_item_order_id|order_item_product_id|order_item_quantity|order_item_subtotal|order_item_product_price|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
|            1|                  1|                  957|                  1|             299.98|                  299.98|
|            2|                  2|                 1073|                  1|             199.99|                  199.99|
|            3|                  2|                  502|                  5|              250.0|                    50.0|
|            4|                  2|                  403|                  1|             129.99|                  129.99|
|            5|                  4|                  897|                  2|              49.98|                   24.99|
|            6|                  4|                  365|                  5|             299.95|                   59.99|
|            7|                  4|                  502|                  3|              150.0|                    50.0|
|            8|                  4|                 1014|                  4|             199.92|                   49.98|
|            9|                  5|                  957|                  1|             299.98|                  299.98|
|           10|                  5|                  365|                  5|             299.95|                   59.99|
|           11|                  5|                 1014|                  2|              99.96|                   49.98|
|           12|                  5|                  957|                  1|             299.98|                  299.98|
|           13|                  5|                  403|                  1|             129.99|                  129.99|
|           14|                  7|                 1073|                  1|             199.99|                  199.99|
|           15|                  7|                  957|                  1|             299.98|                  299.98|
|           16|                  7|                  926|                  5|              79.95|                   15.99|
|           17|                  8|                  365|                  3|             179.97|                   59.99|
|           18|                  8|                  365|                  5|             299.95|                   59.99|
|           19|                  8|                 1014|                  4|             199.92|                   49.98|
|           20|                  8|                  502|                  1|               50.0|                    50.0|
+-------------+-------------------+---------------------+-------------------+-------------------+------------------------+
only showing top 20 rows

+-----------------+----------+--------+---------------+
|order_customer_id|order_date|order_id|   order_status|
+-----------------+----------+--------+---------------+
|                1|2013-07-25|   11599|         CLOSED|
|                2|2013-07-25|     256|PENDING_PAYMENT|
|                3|2013-07-25|   12111|       COMPLETE|
|                4|2013-07-25|    8827|         CLOSED|
|                5|2013-07-25|   11318|       COMPLETE|
|                6|2013-07-25|    7130|       COMPLETE|
|                7|2013-07-25|    4530|       COMPLETE|
|                8|2013-07-25|    2911|     PROCESSING|
|                9|2013-07-25|    5657|PENDING_PAYMENT|
|               10|2013-07-25|    5648|PENDING_PAYMENT|
|               11|2013-07-25|     918| PAYMENT_REVIEW|
|               12|2013-07-25|    1837|         CLOSED|
|               13|2013-07-25|    9149|PENDING_PAYMENT|
|               14|2013-07-25|    9842|     PROCESSING|
|               15|2013-07-25|    2568|       COMPLETE|
|               16|2013-07-25|    7276|PENDING_PAYMENT|
|               17|2013-07-25|    2667|       COMPLETE|
|               18|2013-07-25|    1205|         CLOSED|
|               19|2013-07-25|    9488|PENDING_PAYMENT|
|               20|2013-07-25|    9198|     PROCESSING|
+-----------------+----------+--------+---------------+
only showing top 20 rows

+----------+-------------------+--------------------+-------------------+-------------+--------------------+
|product_id|product_category_id|        product_name|product_description|product_price|       product_image|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+
|         1|                  2|Quest Q64 10 FT. ...|                   |        59.98|http://images.acm...|
|         2|                  2|Under Armour Men'...|                   |       129.99|http://images.acm...|
|         3|                  2|Under Armour Men'...|                   |        89.99|http://images.acm...|
|         4|                  2|Under Armour Men'...|                   |        89.99|http://images.acm...|
|         5|                  2|Riddell Youth Rev...|                   |       199.99|http://images.acm...|
|         6|                  2|Jordan Men's VI R...|                   |       134.99|http://images.acm...|
|         7|                  2|Schutt Youth Recr...|                   |        99.99|http://images.acm...|
|         8|                  2|Nike Men's Vapor ...|                   |       129.99|http://images.acm...|
|         9|                  2|Nike Adult Vapor ...|                   |         50.0|http://images.acm...|
|        10|                  2|Under Armour Men'...|                   |       129.99|http://images.acm...|
|        11|                  2|Fitness Gear 300 ...|                   |       209.99|http://images.acm...|
|        12|                  2|Under Armour Men'...|                   |       139.99|http://images.acm...|
|        13|                  2|Under Armour Men'...|                   |        89.99|http://images.acm...|
|        14|                  2|Quik Shade Summit...|                   |       199.99|http://images.acm...|
|        15|                  2|Under Armour Kids...|                   |        59.99|http://images.acm...|
|        16|                  2|Riddell Youth 360...|                   |       299.99|http://images.acm...|
|        17|                  2|Under Armour Men'...|                   |       129.99|http://images.acm...|
|        18|                  2|Reebok Men's Full...|                   |        29.97|http://images.acm...|
|        19|                  2|Nike Men's Finger...|                   |       124.99|http://images.acm...|
|        20|                  2|Under Armour Men'...|                   |       129.99|http://images.acm...|
+----------+-------------------+--------------------+-------------------+-------------+--------------------+
only showing top 20 rows

+-----------+----------------------+-------------------+
|category_id|category_department_id|      category_name|
+-----------+----------------------+-------------------+
|          1|                     2|           Football|
|          2|                     2|             Soccer|
|          3|                     2|Baseball & Softball|
|          4|                     2|         Basketball|
|          5|                     2|           Lacrosse|
|          6|                     2|   Tennis & Racquet|
|          7|                     2|             Hockey|
|          8|                     2|        More Sports|
|          9|                     3|   Cardio Equipment|
|         10|                     3|  Strength Training|
|         11|                     3|Fitness Accessories|
|         12|                     3|       Boxing & MMA|
|         13|                     3|        Electronics|
|         14|                     3|     Yoga & Pilates|
|         15|                     3|  Training by Sport|
|         16|                     3|    As Seen on  TV!|
|         17|                     4|             Cleats|
|         18|                     4|     Men's Footwear|
|         19|                     4|   Women's Footwear|
|         20|                     4|     Kids' Footwear|
+-----------+----------------------+-------------------+
only showing top 20 rows

In [ ]:
#Loading data in linux environment

items="/user/pruthviraj/sqoop_text/order_items"
items=sqlContext.read.format("text").load(items)
items=items.selectExpr("cast(split(value,',') [0] as int) order_item_id",\
"cast(split(value,',') [1] as int) order_item_order_id",\
"cast(split(value,',') [2] as int) order_item_product_id",\
"cast(split(value,',') [3] as int) order_item_quantity",\
"cast(split(value,',') [4] as float) order_item_subtotal",\
"cast(split(value,',') [5] as float) order_item_product_price")

orders="/user/pruthviraj/sqoop_text/orders"
orders=sqlContext.read.format("text").load(orders)
orders=orders.selectExpr("cast(split(value,',') [0] as int) order_customer_id",
"cast(split(value,',') [1] as date) order_date",
"cast(split(value,',') [2] as int) order_id",
"cast(split(value,',') [3] as string) order_status")

products="/user/pruthviraj/sqoop_text/products"
products=sqlContext.read.format("text").load(products)
products=products.selectExpr("cast(split(value,',') [0] as int) product_id",
"cast(split(value,',') [1] as int) product_category_id",
"cast(split(value,',') [2] as string) product_name",
"cast(split(value,',') [3] as string) product_description",
"cast(split(value,',') [4] as float) product_price",
"cast(split(value,',') [5] as string) product_image")
  
categories="/user/pruthviraj/sqoop_text/categories"
categories=sqlContext.read.format("text").load(categories)
categories=categories.selectExpr("cast(split(value,',') [0] as int) category_id",
"cast(split(value,',') [1] as int) category_department_id",
"cast(split(value,',') [2] as string) category_name")

items.show(2)
orders.show(2)
products.show(2)
categories.show(2)

![tilte](https://pysparktutorials.files.wordpress.com/2018/05/sparkload.jpg)

![tilte](https://pysparktutorials.files.wordpress.com/2018/05/loadres.jpg)

# Ranking

In [57]:
from pyspark.sql import functions as f
from pyspark.sql.window import Window as w

win_fun=items.join(products,items.order_item_product_id==products.product_id).\
        join(categories,products.product_category_id==categories.category_id).\
        groupBy(categories.category_name,products.product_name).\
        agg(f.max(items.order_item_product_price).alias("max_price")).\
        sort(categories.category_name.asc(),f.desc("max_price"))

win_fun.select("category_name","product_name","max_price",\
               f.rank().over(w.partitionBy("category_name").orderBy(f.desc("max_price"))).alias("rank")).show()

+-------------------+--------------------+---------+----+
|      category_name|        product_name|max_price|rank|
+-------------------+--------------------+---------+----+
|   Men's Golf Clubs|Merrell Women's S...|   134.99|   1|
|   Men's Golf Clubs|Merrell Women's G...|   129.99|   2|
|   Men's Golf Clubs|Merrell Men's All...|   109.99|   3|
|   Men's Golf Clubs|Merrell Women's G...|    99.99|   4|
|   Camping & Hiking|Diamondback Women...|   299.98|   1|
|Fitness Accessories|Bowflex SelectTec...|   599.99|   1|
|Fitness Accessories|Under Armour Hust...|    34.99|   2|
|         Golf Shoes|LIJA Women's Butt...|    108.0|   1|
|         Golf Shoes|LIJA Women's Mid-...|    100.0|   2|
|         Golf Shoes|LIJA Women's Argy...|     80.0|   3|
|         Golf Shoes|LIJA Women's Eyel...|     65.0|   4|
|         Basketball| SOLE E25 Elliptical|   999.99|   1|
|         Basketball|Diamondback Girls...|   299.99|   2|
|         Basketball|Diamondback Boys'...|   299.99|   2|
|     Men's Footwear|Nike Men's CJ Eli...|   129.99|   1|
|        Electronics|Titleist Pro V1 H...|    51.99|   1|
|        Electronics|Titleist Pro V1x ...|    51.99|   1|
|        Electronics|Titleist Pro V1x ...|    47.99|   2|
|        Electronics|Titleist Pro V1x ...|    47.99|   2|
|        Electronics|Under Armour Men'...|    44.99|   3|
+-------------------+--------------------+---------+----+
only showing top 20 rows

# dense rank

In [58]:
from pyspark.sql import functions as f
from pyspark.sql.window import Window as w

win_fun=items.join(products,items.order_item_product_id==products.product_id).\
        join(categories,products.product_category_id==categories.category_id).\
        groupBy(categories.category_name,products.product_name).\
        agg(f.max(items.order_item_product_price).alias("max_price")).\
        sort(categories.category_name.asc(),f.desc("max_price"))

win_fun.select("category_name","product_name","max_price",\
               f.dense_rank().over(w.partitionBy("category_name").orderBy(f.desc("max_price"))).alias("dense_rank")).show()

+-------------------+--------------------+---------+----+
|      category_name|        product_name|max_price|rank|
+-------------------+--------------------+---------+----+
|   Men's Golf Clubs|Merrell Women's S...|   134.99|   1|
|   Men's Golf Clubs|Merrell Women's G...|   129.99|   2|
|   Men's Golf Clubs|Merrell Men's All...|   109.99|   3|
|   Men's Golf Clubs|Merrell Women's G...|    99.99|   4|
|   Camping & Hiking|Diamondback Women...|   299.98|   1|
|Fitness Accessories|Bowflex SelectTec...|   599.99|   1|
|Fitness Accessories|Under Armour Hust...|    34.99|   2|
|         Golf Shoes|LIJA Women's Butt...|    108.0|   1|
|         Golf Shoes|LIJA Women's Mid-...|    100.0|   2|
|         Golf Shoes|LIJA Women's Argy...|     80.0|   3|
|         Golf Shoes|LIJA Women's Eyel...|     65.0|   4|
|         Basketball| SOLE E25 Elliptical|   999.99|   1|
|         Basketball|Diamondback Girls...|   299.99|   2|
|         Basketball|Diamondback Boys'...|   299.99|   2|
|     Men's Footwear|Nike Men's CJ Eli...|   129.99|   1|
|        Electronics|Titleist Pro V1 H...|    51.99|   1|
|        Electronics|Titleist Pro V1x ...|    51.99|   1|
|        Electronics|Titleist Pro V1x ...|    47.99|   2|
|        Electronics|Titleist Pro V1x ...|    47.99|   2|
|        Electronics|Under Armour Men'...|    44.99|   3|
+-------------------+--------------------+---------+----+
only showing top 20 rows

# percent rank

In [74]:
from pyspark.sql import functions as f
from pyspark.sql.window import Window as w

win_fun=items.join(products,items.order_item_product_id==products.product_id).\
        join(categories,products.product_category_id==categories.category_id).\
        groupBy(categories.category_name,products.product_name).\
        agg(f.max(items.order_item_product_price).alias("max_price")).\
        sort(categories.category_name.asc(),f.desc("max_price"))

win_fun.select("category_name","product_name","max_price",\
               f.percent_rank().over(w.partitionBy("category_name").orderBy(f.desc("max_price"))).alias("percent_rank")).show()

+-------------------+--------------------+---------+------------------+
|      category_name|        product_name|max_price|      percent_rank|
+-------------------+--------------------+---------+------------------+
|   Men's Golf Clubs|Merrell Women's S...|   134.99|               0.0|
|   Men's Golf Clubs|Merrell Women's G...|   129.99|0.3333333333333333|
|   Men's Golf Clubs|Merrell Men's All...|   109.99|0.6666666666666666|
|   Men's Golf Clubs|Merrell Women's G...|    99.99|               1.0|
|   Camping & Hiking|Diamondback Women...|   299.98|               0.0|
|Fitness Accessories|Bowflex SelectTec...|   599.99|               0.0|
|Fitness Accessories|Under Armour Hust...|    34.99|               1.0|
|         Golf Shoes|LIJA Women's Butt...|    108.0|               0.0|
|         Golf Shoes|LIJA Women's Mid-...|    100.0|0.3333333333333333|
|         Golf Shoes|LIJA Women's Argy...|     80.0|0.6666666666666666|
|         Golf Shoes|LIJA Women's Eyel...|     65.0|               1.0|
|         Basketball| SOLE E25 Elliptical|   999.99|               0.0|
|         Basketball|Diamondback Girls...|   299.99|               0.5|
|         Basketball|Diamondback Boys'...|   299.99|               0.5|
|     Men's Footwear|Nike Men's CJ Eli...|   129.99|               0.0|
|        Electronics|Titleist Pro V1 H...|    51.99|               0.0|
|        Electronics|Titleist Pro V1x ...|    51.99|               0.0|
|        Electronics|Titleist Pro V1x ...|    47.99|               0.2|
|        Electronics|Titleist Pro V1x ...|    47.99|               0.2|
|        Electronics|Under Armour Men'...|    44.99|               0.4|
+-------------------+--------------------+---------+------------------+
only showing top 20 rows

# ntile

In [62]:
from pyspark.sql import functions as f
from pyspark.sql.window import Window as w

win_fun=items.join(products,items.order_item_product_id==products.product_id).\
        join(categories,products.product_category_id==categories.category_id).\
        groupBy(categories.category_name,products.product_name).\
        agg(f.max(items.order_item_product_price).alias("max_price")).\
        sort(categories.category_name.asc(),f.desc("max_price"))

win_fun.select("category_name","product_name","max_price",\
               f.ntile(2).over(w.partitionBy("category_name").orderBy(f.desc("max_price"))).alias("ntile")).show(30)

+-------------------+--------------------+---------+-----+
|      category_name|        product_name|max_price|ntile|
+-------------------+--------------------+---------+-----+
|   Men's Golf Clubs|Merrell Women's S...|   134.99|    1|
|   Men's Golf Clubs|Merrell Women's G...|   129.99|    1|
|   Men's Golf Clubs|Merrell Men's All...|   109.99|    2|
|   Men's Golf Clubs|Merrell Women's G...|    99.99|    2|
|   Camping & Hiking|Diamondback Women...|   299.98|    1|
|Fitness Accessories|Bowflex SelectTec...|   599.99|    1|
|Fitness Accessories|Under Armour Hust...|    34.99|    2|
|         Golf Shoes|LIJA Women's Butt...|    108.0|    1|
|         Golf Shoes|LIJA Women's Mid-...|    100.0|    1|
|         Golf Shoes|LIJA Women's Argy...|     80.0|    2|
|         Golf Shoes|LIJA Women's Eyel...|     65.0|    2|
|         Basketball| SOLE E25 Elliptical|   999.99|    1|
|         Basketball|Diamondback Girls...|   299.99|    1|
|         Basketball|Diamondback Boys'...|   299.99|    2|
|     Men's Footwear|Nike Men's CJ Eli...|   129.99|    1|
|        Electronics|Titleist Pro V1 H...|    51.99|    1|
|        Electronics|Titleist Pro V1x ...|    51.99|    1|
|        Electronics|Titleist Pro V1x ...|    47.99|    1|
|        Electronics|Titleist Pro V1x ...|    47.99|    1|
|        Electronics|Under Armour Men'...|    44.99|    1|
|        Electronics|Bridgestone e6 St...|    31.99|    1|
|        Electronics|Under Armour Wome...|    31.99|    2|
|        Electronics|Bridgestone e6 St...|    31.99|    2|
|        Electronics|Bridgestone e6 St...|    31.99|    2|
|        Electronics|Under Armour Wome...|    31.99|    2|
|        Electronics|Under Armour Kids...|    27.99|    2|
|    Women's Apparel|Nike Men's Dri-FI...|     50.0|    1|
|     Girls' Apparel|adidas Youth Germ...|     70.0|    1|
|     Girls' Apparel|TYR Boys' Team Di...|    39.99|    1|
|     Girls' Apparel|Nike Men's Deutsc...|     30.0|    2|
+-------------------+--------------------+---------+-----+
only showing top 30 rows

# row Number

In [76]:
from pyspark.sql import functions as f
from pyspark.sql.window import Window as w

win_fun=items.join(products,items.order_item_product_id==products.product_id).\
        join(categories,products.product_category_id==categories.category_id).\
        groupBy(categories.category_name,products.product_name).\
        agg(f.max(items.order_item_product_price).alias("max_price")).\
        sort(categories.category_name.asc(),f.desc("max_price"))

win_fun.select("category_name","product_name","max_price",\
               f.row_number().over(w.partitionBy("category_name").orderBy(f.desc("max_price"))).alias("row_number")).show()

+-------------------+--------------------+---------+----------+
|      category_name|        product_name|max_price|row_number|
+-------------------+--------------------+---------+----------+
|   Men's Golf Clubs|Merrell Women's S...|   134.99|         1|
|   Men's Golf Clubs|Merrell Women's G...|   129.99|         2|
|   Men's Golf Clubs|Merrell Men's All...|   109.99|         3|
|   Men's Golf Clubs|Merrell Women's G...|    99.99|         4|
|   Camping & Hiking|Diamondback Women...|   299.98|         1|
|Fitness Accessories|Bowflex SelectTec...|   599.99|         1|
|Fitness Accessories|Under Armour Hust...|    34.99|         2|
|         Golf Shoes|LIJA Women's Butt...|    108.0|         1|
|         Golf Shoes|LIJA Women's Mid-...|    100.0|         2|
|         Golf Shoes|LIJA Women's Argy...|     80.0|         3|
|         Golf Shoes|LIJA Women's Eyel...|     65.0|         4|
|         Basketball| SOLE E25 Elliptical|   999.99|         1|
|         Basketball|Diamondback Girls...|   299.99|         2|
|         Basketball|Diamondback Boys'...|   299.99|         3|
|     Men's Footwear|Nike Men's CJ Eli...|   129.99|         1|
|        Electronics|Titleist Pro V1 H...|    51.99|         1|
|        Electronics|Titleist Pro V1x ...|    51.99|         2|
|        Electronics|Titleist Pro V1x ...|    47.99|         3|
|        Electronics|Titleist Pro V1x ...|    47.99|         4|
|        Electronics|Under Armour Men'...|    44.99|         5|
+-------------------+--------------------+---------+----------+
only showing top 20 rows

# lead

In [77]:
from pyspark.sql import functions as f
from pyspark.sql.window import Window as w

win_fun=items.join(products,items.order_item_product_id==products.product_id).\
        join(categories,products.product_category_id==categories.category_id).\
        groupBy(categories.category_name,products.product_name).\
        agg(f.max(items.order_item_product_price).alias("max_price")).\
        sort(categories.category_name.asc(),f.desc("max_price"))

win_fun.select("category_name","product_name","max_price",\
               f.lead("max_price",1).over(w.partitionBy("category_name").orderBy(f.desc("max_price"))).alias("lead")).show()

+-------------------+--------------------+---------+------+
|      category_name|        product_name|max_price|  lead|
+-------------------+--------------------+---------+------+
|   Men's Golf Clubs|Merrell Women's S...|   134.99|129.99|
|   Men's Golf Clubs|Merrell Women's G...|   129.99|109.99|
|   Men's Golf Clubs|Merrell Men's All...|   109.99| 99.99|
|   Men's Golf Clubs|Merrell Women's G...|    99.99|  null|
|   Camping & Hiking|Diamondback Women...|   299.98|  null|
|Fitness Accessories|Bowflex SelectTec...|   599.99| 34.99|
|Fitness Accessories|Under Armour Hust...|    34.99|  null|
|         Golf Shoes|LIJA Women's Butt...|    108.0| 100.0|
|         Golf Shoes|LIJA Women's Mid-...|    100.0|  80.0|
|         Golf Shoes|LIJA Women's Argy...|     80.0|  65.0|
|         Golf Shoes|LIJA Women's Eyel...|     65.0|  null|
|         Basketball| SOLE E25 Elliptical|   999.99|299.99|
|         Basketball|Diamondback Girls...|   299.99|299.99|
|         Basketball|Diamondback Boys'...|   299.99|  null|
|     Men's Footwear|Nike Men's CJ Eli...|   129.99|  null|
|        Electronics|Titleist Pro V1 H...|    51.99| 51.99|
|        Electronics|Titleist Pro V1x ...|    51.99| 47.99|
|        Electronics|Titleist Pro V1x ...|    47.99| 47.99|
|        Electronics|Titleist Pro V1x ...|    47.99| 44.99|
|        Electronics|Under Armour Men'...|    44.99| 31.99|
+-------------------+--------------------+---------+------+
only showing top 20 rows

# LAG

In [78]:
from pyspark.sql import functions as f
from pyspark.sql.window import Window as w

win_fun=items.join(products,items.order_item_product_id==products.product_id).\
        join(categories,products.product_category_id==categories.category_id).\
        groupBy(categories.category_name,products.product_name).\
        agg(f.max(items.order_item_product_price).alias("max_price")).\
        sort(categories.category_name.asc(),f.desc("max_price"))

win_fun.select("category_name","product_name","max_price",\
               f.lag("max_price",1).over(w.partitionBy("category_name").orderBy(f.desc("max_price"))).alias("lag")).show()

+-------------------+--------------------+---------+------+
|      category_name|        product_name|max_price|   lag|
+-------------------+--------------------+---------+------+
|   Men's Golf Clubs|Merrell Women's S...|   134.99|  null|
|   Men's Golf Clubs|Merrell Women's G...|   129.99|134.99|
|   Men's Golf Clubs|Merrell Men's All...|   109.99|129.99|
|   Men's Golf Clubs|Merrell Women's G...|    99.99|109.99|
|   Camping & Hiking|Diamondback Women...|   299.98|  null|
|Fitness Accessories|Bowflex SelectTec...|   599.99|  null|
|Fitness Accessories|Under Armour Hust...|    34.99|599.99|
|         Golf Shoes|LIJA Women's Butt...|    108.0|  null|
|         Golf Shoes|LIJA Women's Mid-...|    100.0| 108.0|
|         Golf Shoes|LIJA Women's Argy...|     80.0| 100.0|
|         Golf Shoes|LIJA Women's Eyel...|     65.0|  80.0|
|         Basketball| SOLE E25 Elliptical|   999.99|  null|
|         Basketball|Diamondback Girls...|   299.99|999.99|
|         Basketball|Diamondback Boys'...|   299.99|299.99|
|     Men's Footwear|Nike Men's CJ Eli...|   129.99|  null|
|        Electronics|Titleist Pro V1 H...|    51.99|  null|
|        Electronics|Titleist Pro V1x ...|    51.99| 51.99|
|        Electronics|Titleist Pro V1x ...|    47.99| 51.99|
|        Electronics|Titleist Pro V1x ...|    47.99| 47.99|
|        Electronics|Under Armour Men'...|    44.99| 47.99|
+-------------------+--------------------+---------+------+
only showing top 20 rows

# cume distance

In [79]:
from pyspark.sql import functions as f
from pyspark.sql.window import Window as w

win_fun=items.join(products,items.order_item_product_id==products.product_id).\
        join(categories,products.product_category_id==categories.category_id).\
        groupBy(categories.category_name,products.product_name).\
        agg(f.max(items.order_item_product_price).alias("max_price")).\
        sort(categories.category_name.asc(),f.desc("max_price"))
        
win_fun.select("category_name","product_name","max_price",\
               f.cume_dist().over(w.partitionBy("category_name").orderBy(f.desc("max_price"))).alias("cume_dist")).show()

+-------------------+--------------------+---------+-------------------+
|      category_name|        product_name|max_price|          cume_dist|
+-------------------+--------------------+---------+-------------------+
|   Men's Golf Clubs|Merrell Women's S...|   134.99|               0.25|
|   Men's Golf Clubs|Merrell Women's G...|   129.99|                0.5|
|   Men's Golf Clubs|Merrell Men's All...|   109.99|               0.75|
|   Men's Golf Clubs|Merrell Women's G...|    99.99|                1.0|
|   Camping & Hiking|Diamondback Women...|   299.98|                1.0|
|Fitness Accessories|Bowflex SelectTec...|   599.99|                0.5|
|Fitness Accessories|Under Armour Hust...|    34.99|                1.0|
|         Golf Shoes|LIJA Women's Butt...|    108.0|               0.25|
|         Golf Shoes|LIJA Women's Mid-...|    100.0|                0.5|
|         Golf Shoes|LIJA Women's Argy...|     80.0|               0.75|
|         Golf Shoes|LIJA Women's Eyel...|     65.0|                1.0|
|         Basketball| SOLE E25 Elliptical|   999.99| 0.3333333333333333|
|         Basketball|Diamondback Girls...|   299.99|                1.0|
|         Basketball|Diamondback Boys'...|   299.99|                1.0|
|     Men's Footwear|Nike Men's CJ Eli...|   129.99|                1.0|
|        Electronics|Titleist Pro V1 H...|    51.99|0.18181818181818182|
|        Electronics|Titleist Pro V1x ...|    51.99|0.18181818181818182|
|        Electronics|Titleist Pro V1x ...|    47.99|0.36363636363636365|
|        Electronics|Titleist Pro V1x ...|    47.99|0.36363636363636365|
|        Electronics|Under Armour Men'...|    44.99|0.45454545454545453|
+-------------------+--------------------+---------+-------------------+
only showing top 20 rows