![alt text](https://i.imgur.com/YNooG8G.png)

# Getting Started with Python


---






## What is Python?
Python is a popular programming language that is reliable, flexible, easy to learn, free to use on all operating systems, and supported by both a strong developer community and many free libraries. Python supports all manners of development, including web applications, web services, desktop apps, scripting, data science, scientific computing, and Jupyter notebooks. Python is a language used by many universities, scientists, casual developers, and professional developers alike.



You can learn more about the language on [python.org](https://www.python.org/) and [Python for Beginners](https://www.python.org/about/gettingstarted/).
Or you can refer to [edureka python blogs](https://www.edureka.co/blog/what-is-python/): 

This introduction is written for Python 3.6.7 but is generally applicable to other Python 3.x versions. 

The original material is Copyright (c) 2001-2018 Python Software Foundation.

> **Note**: This notebook is designed to have you run code cells one by one, and several code cells contain deliberate errors for demonstration purposes. As a result, if you use the **Cell** > **Run All** command, some code cells past the error won't be run. To resume running the code in each case, use **Cell** > **Run All Below** from the cell after the error.

In [ ]:
#Why Use Python for AI-ML - Code Simplicity
# Printing a statement in Python
print('Hello World')

Hello World

In [ ]:
# Sum of two numbers in Python

# Type 1 --> Its as easy as!
10+20

30

In [ ]:
#Type 2
a = 10
b = 20
print(a+b)
print(a*b)

30
200

## Q. Can a non-programmer learn the Python language from a non-tech background? With just this language, is it possible to earn some passive income?

There is no rule like people only from technical background can learn python (or any other programming language for that matter). People with any background can be a programmer, what it takes is practice (a lot of it, if you want to be best or at least better than the good ) and your thinking from coding perspective (Develop your thinking in terms of programing/coding, it will come with practice).

You will find many examples who are best programmers in industry instead having non-tech background. Chemical engineers, Mechanical engineers, Mathematicians, Pharmacy background there are many of these.

So, Yes! you can learn python and it doesn't matter what is your prior educational background is. Refer good books, online learning courses/channels. But remember, the skills you need as a programmer will only come with practice, so practice a lot, do it daily, I mean obviously how your current work-life balance permits. But you have to sweat to enjoy the fruits later.

Now once you are good at it, you can look for a job(entry level) or as you mentioned passive you can do freelancing - build your profile strong. you can work part-time. There are many organizations who outsource their work, once you are in likewise group you will get many opportunities. And for that do some freelancing first, build your network.

## Comments

Most of the examples in this notebook include comments. 


*   A Comments in Python start with the hash character, `#`
*   A comment may appear at the start of a line or following whitespace or code, but not within a string literal
*   A hash character within a string literal is just a hash character.
*   Comments are used just to clarify the code and are not interpreted by python

For example:

In [ ]:
# this is the first comment
sample = 1                 # and a comment on the same line as code
# ... and now a third!
STRING = "# This is not a comment."

##Accepting User Inputs

**input( )** accepts input and stores it as a string. Hence, if the user inputs a integer, the code should convert the string to an integer and then proceed.

In [ ]:
num1 =  input("Enter a number \t")

Enter a number 	123

In [ ]:
print(num1+10) #This will generate an error because num1 is of type string, so you have to type cast num1 first

TypeError: ignored

In [ ]:
num1 = int(num1)
print(num1+10)

133

In [ ]:
a = int(input("Enter a number "))
b = int(input("Enter another number "))
sum = a + b
print("Sum of {0} and {1} is {2}" .format(a,b,sum))

Enter a number 10
Enter another number 20
Sum of 10 and 20 is 30

##Tokens in Python

“Basic building blocks written together to form a program is known as **Token**.”

###Types of Tokens in Python
![](https://i.imgur.com/schSzJr.png)

In [ ]:
# In the above example, sum of two numbers in Python:
a = 10
b = 20
print(a+b)

# Here 10,20 are literals, stored in variable(identifier) a, b. 
# print is a keyword and + is an operator

##Identifiers in Python

In [ ]:
Incentive = 1000
total_sal = 10000 + Incentive

# Incentive = 1500
# total_sal = 10000 + Incentive

print(total_sal)

11000

In [ ]:
var = 10
Var = 'edureka!' #Python is case-sensitive
print(var,Var)

###Rules for naming an identifier

In [ ]:
first name = 'Edureka'  # You will get a syntax error because you cannot use any spaces in between the variable name. 
# first_name = 'Edureka'

SyntaxError: ignored

In [ ]:
Count = 10
print(count) #You will get an error because Python is case-sensitive language ‘Count’ and ‘count’ are treated as two different variables.
#print(Count)

NameError: ignored

In [ ]:
for = 10 # You will get an error because the reserved keyword cannot be used as variable names
# _for = 10

SyntaxError: ignored

In [ ]:
9var = 10 # You will get an error because variable name cannot start with a number. It only starts with _, A-Z, a-z
# var9 = 10

SyntaxError: ignored

In [ ]:
print('Edureka'+10) #  You are getting this TypeError because you cannot add string with integer
# print('Edureka + 10')
# print('Edureka' + '10')

TypeError: ignored

In [ ]:
$at = 10 #You are getting this error as only special character allowed in Python is underscore(_)
# _at = 10
# at = 10

SyntaxError: ignored

In [ ]:
ghjk=10

SyntaxError: ignored

##Operators in Python

### Arithmetic Operators and Built-in Functions - Using Python as a calculator
The following are examples of the kinds of Python expressions that we can use.

| Operator | Description |
|----|---|
| +  | Addition |
| -  | Subtraction |
| /  | division |
| %  | mod (remainder) |
| *  | multiplication |
| //  | floor division |
| **  | to the power of |

In [ ]:
6 + 5

11

In [ ]:
20 - 12.5

7.5

In [ ]:
3.14 * 6

18.84

Each Python value has a type.  `6`, `5`, `20`, and `6` have type `int`.  `12.5` and `3.14` have type `float`. Float stands for *floating point number*. Floats are approximations to the real numbers.

Python has two different division operators: `/` produces a `float` and `//` is integer division (it produces an `int`).

In [ ]:
8 / 4

2.0

In [ ]:
8 // 4

2

In [ ]:
# When writing programs, we can put in English language explanations called comments.
# Whatever comes after the # symbol is not executed.

In [ ]:
2 ** 5  # 2 to the power of 5

32

In [ ]:
# The % operator gives the remainder of a division.
# 10 % 3 gives the remainder of 10 // 3
10 % 3

1

In other words, the fraction 10 / 3 can be rewritten as 3 1/3, so the remainder is `1`.

Operator order of precedence (from highest to lowest)

- `**`

- `-` (negation)

- `*`, `/`, `//`, `%` (left to right)

- `+` (addition), `-` (subtraction) (left to right)

#### Encountering Errors

When programming, it is common to encounter errors.  You will learn how to interpret the error messages, so that you can fix your code.  Here are a few examples:

In [ ]:
3 +

SyntaxError: ignored

In [ ]:
4 + 5 ) * 2

SyntaxError: ignored

In [ ]:
2 * * 5

SyntaxError: ignored

In [ ]:
9 / 0

ZeroDivisionError: ignored

#### Practice Exercise: Writing expressions

1. A patient just turned 95 years old.  Write a Python expression to calculate her age in months.
2. A father reports that his son's temperature was 39.1 degrees Celsius when measured at home.  Write an expression to covert the temperature from Celsius to Fahreneheit.  
**Hint:** To convert Celsius to Fahreneheit Multiply by 9, divide by 5, and then add 32.

####Simplifying Arithmetic Operations

**round( )** function rounds the input value to a specified number of places or to the nearest integer.

In [ ]:
print(round(5.6231))
print(round(4.55892, 2))

6
4.56

**complex( )** is used to define a complex number and **abs( )** outputs the absolute value of the same.

In [ ]:
c =complex('5+2j')
print(abs(c))

5.385164807134504

**divmod(x,y)** outputs the quotient and the remainder in a tuple(you will be learning about it in the further chapters) in the format (quotient, remainder).

In [ ]:
divmod(9,2)

(4, 1)

**pow(x,y,z)** can be used to find the power $x^y$ also the mod of the resulting value with the third specified number can be found i.e. : ($x^y$ % z).

In [ ]:
print(pow(3,3))
print(pow(3,3,5))

27
2

###Assignment Operator
Used to assign value to a variable

| Operator | Example | Similar to 
|----------|---------|----------|
| = |x=10 |x = 10
| +=  | x+=5 | x = x + 5
| -= | x-=5 | x = x - 5
| *=  | x*=5 |x = x * 5 
| /=  | x/=5 |x = x / 5 
| %=  | x%=5 |x = x % 5 
| **=  | x**=5 |x = x ** 5
| &=  | x&=5 |x = x & 5
| ^=  | x^=5 |x = x ^ 5
| <<=  | x<<=5 |x = x << 5

### Comparison Operators 

These operators will allow us to compare variables and output a Boolean value (True or False). 

<h3> Table of Comparison Operators </h3><p>  In the table below, consider a=3 and b=4.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

Let's now work through quick examples of each of these.

#### Equal

In [ ]:
2 == 2

True

In [ ]:
1 == 0

False

Note that <code>==</code> is a <em>comparison</em> operator, while <code>=</code> is an <em>assignment</em> operator.

#### Not Equal

In [ ]:
2 != 1

True

In [ ]:
2 != 2

False

#### Greater Than

In [ ]:
2 > 1

True

In [ ]:
2 > 4

False

#### Less Than

In [ ]:
2 < 4

True

In [ ]:
2 < 1

False

#### Greater Than or Equal to

In [ ]:
2 >= 2

True

In [ ]:
2 >= 1

True

#### Less than or Equal to

In [ ]:
2 <= 2

True

In [ ]:
2 <= 4

True

#### Chained Comparison Operators

An interesting feature of Python is the ability to *chain* multiple comparisons to perform a more complex test. You can use these chained comparisons as shorthand for larger Boolean Expressions.

In this lecture we will learn how to chain comparison operators and we will also introduce two other important statements in Python: **and** and **or**.

Let's look at a few examples of using chains:

In [ ]:
1 < 2 < 3

True

The above statement checks if 1 was less than 2 **and** if 2 was less than 3. We could have written this using an **and** statement in Python:

In [ ]:
1<2 and 2<3

True

The **and** is used to make sure two checks have to be true in order for the total check to be true. Let's see another example:

In [ ]:
1 < 3 > 2

True

The above checks if 3 is larger than both of the other numbers, so you could use **and** to rewrite it as:

In [ ]:
1<3 and 3>2

True

It's important to note that Python is checking both instances of the comparisons. We can also use **or** to write comparisons in Python. For example:

In [ ]:
1==2 or 2<3

True

Note how it was true; this is because with the **or** operator, we only need one *or* the other to be true. Let's see one more example to drive this home:

In [ ]:
1==1 or 100==1

True

###Logical Operator
Logical Operators are used to combine conditional statements

| Operator | Description | Example
|----|---|---|
| and  | Returns True if both statements are true | x < 5 and  x < 10	
| or  | Returns True if one of the statements is true | x < 5 or  x < 10	
| not  | Reverse the result, returns False if the result is true and vice versa | not(x < 5 or  x < 10)

###Bitwise Operators

| Symbol | Task Performed |
|----|---|
| &  | Logical And |
| l  | Logical OR |
| ^  | XOR |
| ~  | Negate |
| >>  | Right shift |
| <<  | Left shift |

In [ ]:
a = 2 #10
b = 3 #11

In [ ]:
print(a & b)
print (bin(a&b))

2
0b10

In [ ]:
5 >> 1

2

0000 0101 -> 5 

Shifting the digits by 1 to the right and zero padding

0000 0010 -> 2

In [ ]:
5 << 1

10

0000 0101 -> 5 

Shifting the digits by 1 to the left and zero padding

0000 1010 -> 10

###Identity Operator
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.


| Operator | Description | Example
|----|---|---|
| is  | Returns True if both variables are the same object| x is y
| is not  | Returns True if both variables are not the same object| x is not y

###Membership Operator
Membership operators are used to test if a sequence is presented in an object

| Operator | Description | Example
|----|---|---|
| in  | Returns True if a sequence with the specified value is present in the object| x in y
| not in  | Returns True if a sequence with the specified value is not present in the object| x not in y

##Literals in Python

Literals are values used in **Python**.
![](https://i.imgur.com/KvqspwV.png)

In [ ]:
#String Literal --> A string literal is a sequence of zero or more characters enclosed within single, double or triple quotation marks. 

text1 = 'edureka'
text2 = "today's"  #Note the difference between single quotes and double quotes
text3 = '123'
text4 = 'How ya \ 
doing' #Adding black slash at the end of each line
text5 = '''hello everyone! 
how are you?''' #Note how multiple statements are written
print(text1)
print(text2)
print(text3)
print(text4)
print(text5)

edureka
today's
123
How ya doing
hello everyone!
how are you?

**Important Escape Sequence in Python**

![](https://i.imgur.com/IUvhv5i.jpg)

In [ ]:
# Numeric Literal --> There are four types of numeric literals: integers, floating point numbers, and imaginary numbers.
# NOTE: Integers in Python 3 are of unlimited size. Python 2 had two integer types - int and long. There is no 'long integer' in Python 3 anymore.

b = 0b11100 #Binary Literals  
d = 110 #Decimal Literal   
o = 0o100 #Octal Literal  
u = 0x14d #Hexadecimal Literal  
  
#Float Literal  
float_1 = 3.14   
float_2 = 1.5e4  
  
#Complex Literal   
c = 5+3.14j  
  
print(b, d, o, u)  
print(float_1, float_2)  
print(c, c.imag, c.real)  

#NOTE: Note that numeric literals do not include a sign; a phrase like -1 is actually an expression composed of the unary operator `-' and the literal 1.

28 110 64 333
3.14 15000.0
(5+3.14j) 3.14 5.0

In [ ]:
#Boolean Literal --> Python literal Boolean has two values. One is True, and another one is False.
# Additionally, 1 and 0 represent True and False, respectively.
a = (10 == True)  
b = (20 == False)  
c = (30 == True)  
x = True + 10  
y = False + 10  
  
print("a is", a)  
print("b is", b)  
print("c is", c)  
print("x:", x)  
print("y:", y)

a is False
b is False
c is False
x: 11
y: 10

In [ ]:
# Special Literal --> The None keyword is used to define a null value, or no value at all. 
#None is not the same as 0, False, or an empty string. None is a datatype of its own (NoneType) and only None can be None.
x = None
print(x)
type(x) #Used to check the data type of the variable

None

NoneType

In [ ]:
# Collection Literal --> Python provides the four types of literal collection such as List literals, Tuple literals, Dict literals, and Set literals.
# List:

# List contains items of different data types. Lists are mutable i.e., modifiable.
# The values stored in List are separated by comma(,) and enclosed within square brackets([]). We can store different types of data in a List.
list=['James',455,24,"Pan's"]    
list1=[354,'Andrew']    
print(list)    
print(list + list1)

['James', 455, 24, "Pan's"]
['James', 455, 24, "Pan's", 354, 'Andrew']

In [ ]:
# Dictionary:

# Python dictionary stores the data in the key-value pair.
# It is enclosed by curly-braces {} and each pair is separated by the commas(,).
dict = {'name': 'Peter', 'Age':22,'Roll_nu':139105212}
print(dict)

{'name': 'Peter', 'Age': 22, 'Roll_nu': 139105212}

In [ ]:
# Tuple:

# Python tuple is a collection of different data-type. It is immutable which means it cannot be modified after creation.
# It is enclosed by the parentheses () and each element is separated by the comma(,).
tup = (10,20,"Dave",[1,2,3,4])  
print(tup)

(10, 20, 'Dave', [1, 2, 3, 4])

In [ ]:
# Set:

# Python set is the collection of the unordered dataset.
# It is enclosed by the {} and each element is separated by the comma(,).
set = {'apple','banana','mango','grapes'}  
print(set)

{'mango', 'banana', 'apple', 'grapes'}

##Data Types in Python

### Strings

Besides numbers, Python can also manipulate strings. Strings can enclosed in single quotes (`'...'`) or double quotes (`"..."`) with the same result. Use `\` to escape quotes, that is, to use a quote within the string itself:

In [ ]:
'spam eggs'  # Single quotes.

In [ ]:
'doesn\'t'  # Use \' to escape the single quote...

In [ ]:
"doesn't"  # ...or use double quotes instead.

In [ ]:
'"Yes," he said.'

In [ ]:
"\"Yes,\" he said."

In [ ]:
'"Isn\'t," she said.'

In the interactive interpreter and Jupyter notebooks, the output string is enclosed in quotes and special characters are escaped with backslashes. Although this output sometimes looks different from the input (the enclosing quotes could change), the two strings are equivalent. The string is enclosed in double quotes if the string contains a single quote and no double quotes, otherwise its enclosed in single quotes. The [`print()`](https://docs.python.org/3.6/library/functions.html#print) function produces a more readable output by omitting the enclosing quotes and by printing escaped and special characters:

In [ ]:
'"Isn\'t," she said.'

In [ ]:
print('"Isn\'t," she said.')

In [ ]:
s = 'First line.\nSecond line.'  # \n means newline.
s  # Without print(), \n is included in the output.

In [ ]:
print(s)  # With print(), \n produces a new line.

If you don't want escaped characters (prefaced by `\`) to be interpreted as special characters, use *raw strings* by adding an `r` before the first quote:

In [ ]:
print('C:\some\name')  # Here \n means newline!

In [ ]:
print(r'C:\some\name')  # Note the r before the quote.

String literals can span multiple lines and are delineated by triple-quotes: `"""..."""` or `'''...'''`. End of lines are automatically included in the string, but it's possible to prevent this by adding a `\` at the end of the line. For example, without a `\`, the following example includes an extra line at the beginning of the output:

In [ ]:
print("""
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Adding a `\` removes that extra line:

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Because Python doesn't provide a means for creating multi-line comments, developers often just use triple quotes for this purpose. In a Jupyter notebook, however, such quotes define a string literal which appears as the output of a code cell:

In [ ]:
"""
Everything between the first three quotes, including new lines,
is part of the multi-line comment. Technically, the Python interpreter
simply sees the comment as a string, and because it's not otherwise
used in code, the string is ignored. Convenient, eh?
"""

For this reason, it's best in notebooks to use the `#` comment character at the beginning of each line, or better still, just use a Markdown cell!

Strings can be *concatenated* (glued together) with the `+` operator, and repeated with `*`:

In [ ]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

Two or more *string literals* (that is, the values enclosed in quotes) placed next to each other are automatically concatenated:

In [ ]:
'Py' 'thon'

Automatic concatenation works only with two literals; it does not work with variables or expressions, so the following cell produces an error:

In [ ]:
prefix = 'Py'
prefix 'thon'  # Can't concatenate a variable and a string literal.

The following cell likewise produces an error:

In [ ]:
('un' * 3) 'ium'

To concatenate variables, or a variable and a literal, use `+`:

In [ ]:
prefix = 'Py'
prefix + 'thon'

Automatic concatenation is particularly useful when you want to break up long strings:

In [ ]:
text = ('Put several strings within parentheses '
            'to have them joined together.')
text

Strings can be *indexed* (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one:

In [ ]:
word = 'Python'
word[0]  # Character in position 0.

In [ ]:
word[5]  # Character in position 5.

Indices may also be negative numbers, which means to start counting from the end of the string. Note that because -0 is the same as 0, negative indices start from -1:

In [ ]:
word[-1]  # Last character.

In [ ]:
word[-2]  # Second-last character.

In [ ]:
word[-6]

In addition to indexing, which extracts individual characters, Python also supports *slicing*, which extracts a substring. To slide, you indicate a *range* in the format `start:end`, where the start position is included but the end position is excluded:

In [ ]:
word[0:2]  # Characters from position 0 (included) to 2 (excluded).

In [ ]:
word[2:5]  # Characters from position 2 (included) to 5 (excluded).

If you omit either position, the default start position is 0 and the default end is the length of the string:

In [ ]:
word[:2]   # Character from the beginning to position 2 (excluded).

In [ ]:
word[4:]  # Characters from position 4 (included) to the end.

In [ ]:
word[-2:] # Characters from the second-last (included) to the end.

This characteristic means that `s[:i] + s[i:]` is always equal to `s`:

In [ ]:
word[:2] + word[2:]

In [ ]:
word[:4] + word[4:]

One way to remember how slices work is to think of the indices as pointing between characters, with the left edge of the first character numbered 0. Then the right edge of the last character of a string of *n* characters has index *n*. For example:

 +---+---+---+---+---+---+
 | P | y | t | h | o | n |
 +---+---+---+---+---+---+
 0   1   2   3   4   5   6
-6  -5  -4  -3  -2  -1

The first row of numbers gives the position of the indices 0...6 in the string; the second row gives the corresponding negative indices. The slice from *i* to *j* consists of all characters between the edges labeled *i* and *j*, respectively.

For non-negative indices, the length of a slice is the difference of the indices, if both are within bounds. For example, the length of `word[1:3]` is 2.

Attempting to use an index that is too large results in an error:

In [ ]:
word[42]  # The word only has 6 characters.

However, when used in a range, an index that's too large defaults to the size of the string and does not give an error. This characteristic is useful when you always want to slice at a particular index regardless of the length of a string:

In [ ]:
word[4:42]

In [ ]:
word[42:]

Python strings are [immutable](https://docs.python.org/3.5/glossary.html#term-immutable), which means they cannot be changed. Therefore, assigning a value to an indexed position in a string results in an error:

In [ ]:
word[0] = 'J'

The following cell also produces an error:

In [ ]:
word[2:] = 'py'

A slice it itself a value that you can concatenate with other values using `+`:

In [ ]:
'J' + word[1:]

In [ ]:
word[:2] + 'Py'

A slice, however, is not a string literal and cannot be used with automatic concatenation. The following code produces an error:

In [ ]:
word[:2] 'Py'    # Slice is not a literal; produces an error

The built-in function [`len()`](https://docs.python.org/3.5/library/functions.html#len) returns the length of a string:

In [ ]:
s = 'supercalifragilisticexpialidocious'
len(s)

### Lists

Python knows a number of _compound_ data types, which are used to group together other values. The most versatile is the [*list*](https://docs.python.org/3.5/library/stdtypes.html#typesseq-list), which can be written as a sequence of comma-separated values (items) between square brackets. Lists might contain items of different types, but usually the items all have the same type.

In [ ]:
squares = [1, 4, 9, 16, 25]
squares

Like strings (and all other built-in [sequence](https://docs.python.org/3.5/glossary.html#term-sequence) types), lists can be indexed and sliced:

In [ ]:
squares[0]  # Indexing returns the item.

In [ ]:
squares[-1]

In [ ]:
squares[-3:]  # Slicing returns a new list.

All slice operations return a new list containing the requested elements. This means that the following slice returns a new (shallow) copy of the list:

In [ ]:
squares[:]

Lists also support concatenation with the `+` operator:

In [ ]:
squares + [36, 49, 64, 81, 100]

Unlike strings, which are [immutable](https://docs.python.org/3.5/glossary.html#term-immutable), lists are a [mutable](https://docs.python.org/3.5/glossary.html#term-mutable) type, which means you can change any value in the list:

In [ ]:
cubes = [1, 8, 27, 65, 125]  # Something's wrong here ...
4 ** 3  # the cube of 4 is 64, not 65!

In [ ]:
cubes[3] = 64  # Replace the wrong value.
cubes

Use the list's `append()` method to add new items to the end of the list:

In [ ]:
# Append
cubes.append('append me!')
cubes.append(216)  # Add the cube of 6 ...
cubes.append(7 ** 3)  # and the cube of 7.
cubes

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [ ]:
# Pop off the 0 indexed item
cubes.pop(0)

1

In [ ]:
# Assign the popped element, remember default popped index is -1
popped_item = cubes.pop()

In [ ]:
cubes[100] # This will throw an error because of list index out of range

You can even assign to slices, which can change the size of the list or clear it entirely:

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

In [ ]:
# Replace some values.
letters[2:5] = ['C', 'D', 'E']
letters

In [ ]:
# Now remove them.
letters[2:5] = []
letters

In [ ]:
# Clear the list by replacing all the elements with an empty list.
letters[:] = []
letters

The built-in [`len()`](https://docs.python.org/3.5/library/functions.html#len) function also applies to lists:

In [ ]:
letters = ['a', 'b', 'c', 'd']
len(letters)

You can nest lists, which means to create lists that contain other lists. For example:

In [ ]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

In [ ]:
x[0]

In [ ]:
x[0][1]

## Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

It should also be noted that lists indexing will return an error if there is no element at that index. For example:

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [ ]:
new_list = ['a','e','x','b','c']

In [ ]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [ ]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [ ]:
new_list

['c', 'b', 'x', 'e', 'a']

In [ ]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [ ]:
new_list

['a', 'b', 'c', 'e', 'x']

## Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [ ]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [ ]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [ ]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

### Dictionaries

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [ ]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

In [ ]:
# Call values by their key
my_dict['key2']

'value2'

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [ ]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [ ]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

In [ ]:
# Can call an index on that value
my_dict['key3'][0]

'item0'

In [ ]:
# Can then even call methods on that value
my_dict['key3'][0].upper()

'ITEM0'

We can affect the values of a key as well. For instance:

In [ ]:
my_dict['key1']

123

In [ ]:
# Subtract 123 from the value
my_dict['key1'] = my_dict['key1'] - 123

In [ ]:
#Check
my_dict['key1']

0

A quick note, Python has a built-in method of doing a self subtraction or addition (or multiplication or division). We could have also used += or -= for the above statement. For example:

In [ ]:
# Set the object equal to itself minus 123 
my_dict['key1'] -= 123
my_dict['key1']

-123

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [ ]:
# Create a new dictionary
d = {}

In [ ]:
# Create a new key through assignment
d['animal'] = 'Dog'

In [ ]:
# Can do this with any object
d['answer'] = 42

In [ ]:
#Show
d

{'animal': 'Dog', 'answer': 42}

### Nesting with Dictionaries

Hopefully you're starting to see how powerful Python is with its flexibility of nesting objects and calling methods on them. Let's see a dictionary nested inside a dictionary:

In [ ]:
# Dictionary nested inside a dictionary nested inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

Wow! That's a quite the inception of dictionaries! Let's see how we can grab that value:

In [ ]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

### A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [ ]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

Hopefully you now have a good basic understanding how to construct dictionaries. There's a lot more to go into here, but we will revisit dictionaries at later time. After this section all you need to know is how to create a dictionary and how to retrieve values from it.

##Popular Question Answered on Quora
<span class='quora-content-embed' data-name='How-should-I-start-learning-Python-1/answer/Neha-Ahuja-178'>Read <a class='quora-content-link' data-width='560' data-height='260' href='https://www.quora.com/How-should-I-start-learning-Python-1/answer/Neha-Ahuja-178' data-type='answer' data-id='122319626' data-key='f8a735498f074d34d32023d61c740361' load-full-answer='False' data-embed='dmvmtdw'><a href='https://www.quora.com/Neha-Ahuja-178'>Neha Ahuja</a>&#039;s <a href='/How-should-I-start-learning-Python-1?top_ans=122319626'>answer</a> to <a href='/How-should-I-start-learning-Python-1' ref='canonical'><span class="rendered_qtext">How should I start learning Python?</span></a></a> on <a href='https://www.quora.com'>Quora</a><script type="text/javascript" src="https://www.quora.com/widgets/content"></script></span>

<span class='quora-content-embed' data-name='What-is-the-use-of-learning-the-Python-language/answers/170367059'>Read <a class='quora-content-link' data-width='560' data-height='260' href='https://www.quora.com/What-is-the-use-of-learning-the-Python-language/answers/170367059' data-type='answer' data-id='170367059' data-key='064f54675b4d9e2f23ae166cd062388f' load-full-answer='False' data-embed='dmvmtdw'><a href='https://www.quora.com/Mohammad-Waseem-95'>Mohammad Waseem</a>&#039;s <a href='/What-is-the-use-of-learning-the-Python-language?top_ans=170367059'>answer</a> to <a href='/What-is-the-use-of-learning-the-Python-language' ref='canonical'><span class="rendered_qtext">What is the use of learning the Python language?</span></a></a> on <a href='https://www.quora.com'>Quora</a><script type="text/javascript" src="https://www.quora.com/widgets/content"></script></span>

<span class='quora-content-embed' data-name='Why-would-you-recommend-learning-Python-What-makes-it-useful/answer/Janarthanan-Soundararajan'>Read <a class='quora-content-link' data-width='560' data-height='260' href='https://www.quora.com/Why-would-you-recommend-learning-Python-What-makes-it-useful/answer/Janarthanan-Soundararajan' data-type='answer' data-id='25331268' data-key='5b02e3049ad8b5590dd59bbc845224e4' load-full-answer='False' data-embed='dmvmtdw'><a href='https://www.quora.com/Janarthanan-Soundararajan'>Janarthanan Soundararajan</a>&#039;s <a href='/Why-would-you-recommend-learning-Python-What-makes-it-useful?top_ans=25331268'>answer</a> to <a href='/Why-would-you-recommend-learning-Python-What-makes-it-useful' ref='canonical'><span class="rendered_qtext">Why would you recommend learning Python? What makes it useful?</span></a></a> on <a href='https://www.quora.com'>Quora</a><script type="text/javascript" src="https://www.quora.com/widgets/content"></script></span>

##Building a Basic Calculator

In [ ]:
num1 = int(input("Enter the first number "))
num2 = int(input("Enter another number "))
sum = num1 + num2
diff = num1 - num2
mult = num1 * num2
div = num1 / num2
mean = (num1+num2)/2
print("Sum of {0} and {1} is {2}".format(num1, num2,sum))
print("Diff of {0} and {1} is {2}".format(num1, num2,diff))
print("Prod of {0} and {1} is {2}".format(num1, num2,mult))
print("Div of {0} and {1} is {2}".format(num1, num2,div))
print("Mean of {0} and {1} is {2}".format(num1, num2,mean))

Enter the first number 10
Enter another number 20
Sum of 10 and 20 is 30
Diff of 10 and 20 is -10
Prod of 10 and 20 is 200
Div of 10 and 20 is 0.5
Mean of 10 and 20 is 15.0

##In Class Practise Question 1

In [ ]:
#Multiplication Table
n = int(input("Enter a number "))
for i in range(1, 11):
  print(n,"X",i,"=",n*i)

Enter a number 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
#Swapping using 3 variables
a = 10
b = 20
temp = a
a = b
b = temp
print(a,b)

20 10

In [ ]:
#Swapping using multiplication
a = 10
b = 20
print(a,b)
a = a+b
b = a-b
a = a-b
print(a,b)

10 20
20 10

In [ ]:
# Swapping using Using XOR
a = 10
b = 20
print(a,b)
a = a^b
b = b^a
# a = a^b
print(a,b)

10 20
30 10