In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import random
import math
%matplotlib inline

In [2]:
np.random.seed(10)
population_ages1 = stats.poisson.rvs(loc=18, mu=35, size=150000)
population_ages2 = stats.poisson.rvs(loc=18, mu=10, size=100000)
population_ages = np.concatenate((population_ages1, population_ages2))

population_ages.mean()

43.002372

In [3]:
np.random.seed(6)
sample_ages = np.random.choice(a= population_ages,size=500)            # Sample 1000 values
print ( sample_ages.mean() )                         # Show sample mean
population_ages.mean() - sample_ages.mean()   # Check difference between means

42.388

0.614372000000003

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats as st

In [2]:
np.random.seed(20)
var1 = np.random.randint(0, 10, 10) # Días de vacaciones
var2 = var1+np.random.normal(0, 1, 10) # Dinero gastado

In [3]:
var1

array([3, 9, 4, 6, 7, 2, 0, 6, 8, 5])

In [4]:
var2

array([1.91516741, 9.55969629, 4.93946935, 5.02151896, 7.50309684,
       2.40641447, 0.32346101, 5.50658912, 7.20798321, 4.15763207])

In [7]:
tuple = list(zip(var1, var2))
tuple

[(3, 1.9151674126826672),
 (9, 9.559696289403918),
 (4, 4.939469349856077),
 (6, 5.021518957881304),
 (7, 7.503096840109191),
 (2, 2.406414468894801),
 (0, 0.3234610099156434),
 (6, 5.50658911809112),
 (8, 7.207983209222818),
 (5, 4.157632065861516)]

In [8]:
tabla = pd.DataFrame(tuple,
                  columns = ['Días_vacaciones', 'Dinero_gastado'])

In [9]:
tabla

   Días_vacaciones  Dinero_gastado
0                3        1.915167
1                9        9.559696
2                4        4.939469
3                6        5.021519
4                7        7.503097
5                2        2.406414
6                0        0.323461
7                6        5.506589
8                8        7.207983
9                5        4.157632