In [1]:
# Take input from the user - SINGLE LINE COMMENTS

# This is a single line commment

num = float(input('Enter a number: '))

# MULTIPLE LINE COMMENTS
'''
Use the user input to
calculate the square root of the number
'''

'''
a line
b line
c line
'''

# num & num_sqrt are literals....(Literals are the constant values assigned to the constant variables)
num_sqrt = num ** 0.5
print("The square root of %0.3f is %0.3f"%(num, num_sqrt))

# Indentation
if(num_sqrt <= 1):
    print("Hello")
    print("Thr you are !!")
else:
    print("I guess i lost you")
    print("Wish you could be here")

Enter a number: 3
The square root of 3.000 is 1.732
I guess i lost you
Wish you could be here

In [2]:
id(num)

4397833072

In [3]:
str = "Edureka"
id(str)

4399156912

In [4]:
num1 = 10
id(num1)

4351410704

In [5]:
num2 = 10.20
id(num2)

4603264496

In [6]:
print(str, num1, num2)

Edureka 10 10.2

### Keywords

In [1]:
# List of keywords
help("keywords")

# list of built-in functions
# https://docs.python.org/3/library/functions.html

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

### Print Stmt

In [2]:
n1 = "Hello"
n2 = "Edureka"
n3 = 30

print("Welcome to %s" %n2)
print("My age is %d" %n3)

print("%s ! Welcome to %s" %(n1,n2))

Welcome to Edureka
My age is 30
Hello ! Welcome to Edureka

In [3]:
n1 = "Hello"
n2 = "Edureka"

print("{} ! Welcome to {}".format(n1,n2))

Hello ! Welcome to Edureka

In [4]:
n1 = "Hello"
n2 = "Edureka"

print(f"{n1} ! Welcome to {n2}")

Hello ! Welcome to Edureka

### Immutable and Mutable Data Types

In [5]:
str1 = "Python"
id(str1)

139953439312432

In [6]:
str1 = "Java"
id(str1)

139953430770800

In [7]:
type(str1)

str

In [8]:
lst = [1,2,3]
id(lst)

139953326535616

In [9]:
type(lst)

list

In [10]:
lst

[1, 2, 3]

In [11]:
lst.append(4)
id(lst)

139953326535616

In [12]:
lst

[1, 2, 3, 4]

In [13]:
lst = [1,2,3.4,"Help"]
lst

[1, 2, 3.4, 'Help']

### Operators in Python

In [14]:
# Arithmetic Operators
x = 5
y = 3
print(x + y)
x = 5
y = 3
print(x - y)
x = 5
y = 3
print(x * y)
x = 12
y = 3
print(x / y) # Quotient
x = 5
y = 2
print(x % y) # Remainder
x = 2
y = 6
print(x ** y) # Raised to 2^5 = 2*2*2*2*2

8
2
15
4.0
1
64

In [15]:
# Assignment Operators
x = 5
print(x) # Assignment
x = 5
x += 3
print(x) # x = 5 + 3
x = 5
x -= 3
print(x) # x = 5 - 3
x = 5
x *= 3
print(x) # x = 5 * 3
x = 5
x /= 3
print(x) # x = 5 / 3
x = 5
x %= 3
print(x) # x = 5 % 3 rounding off the remainder
x = 5
x //= 3
print(x) # x = 5 // 3 rounding off the quotient
x = 5
x **= 3
print(x) # x = 5 ** 3 == 5 * 5 * 5 = 125

5
8
2
15
1.6666666666666667
2
1
125

In [16]:
# Comparison Operator
x = 5
y = 3
print(x == y) # returns False because 5 is not equal to 3
x = 5
y = 3
print(x != y) # returns True because 5 is not equal to 3
x = 5
y = 3
print(x > y) # returns True because 5 is greater than 3
x = 5
y = 3
print(x < y) # returns False because 5 is not less than 3
x = 5
y = 3
print(x >= y) # returns True because five is greater, or equal, to 3
x = 5
y = 3
print(x <= y) # returns False because 5 is neither less than or equal to 3

False
True
True
False
True
False

In [23]:
# Logical Operator
x = 5
print(x > 3 and x < 10) # returns True because 5 is greater than 3 AND 5 is less than 10

x = 5
print(x > 3 or x < 4) # returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

x = 5
print(not(x > 3 and x < 10)) # returns False because not is used to reverse the result

True
True
False

In [17]:
# Identity Operator
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x
print(x is z)   # returns True because z is the same object as x
print(x is y)   # returns False because x is not the same object as y, even if they have the same content
print(x == y)   # to demonstrate the difference between "is" and "==": this comparison returns True because x is equal to y
print("\n")

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)  # returns False because z is the same object as x
print(x is not y)  # returns True because x is not the same object as y, even if they have the same content
print(x != y)  # to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to

True
False
True


False
True
False

In [18]:
id(x)

139953326250176

In [19]:
id(z)

139953326250176

In [20]:
id(y)

139953326334208

In [21]:
# Membership Operators
x = ["apple", "banana"]
print("pine" in x)
# returns True because a sequence with the value "banana" is in the list

x = ["apple", "banana"]
print("apple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

False
False

In [22]:
# Bitwise Operators
print(bin(60))
print(int('111100',2))
print("\n")

0b111100
60

In [23]:
bin(13)

'0b1101'

In [27]:
bin(12)

'0b1100'

In [24]:
int('00001101',2)

13

In [25]:
int('00001100',2)

12

In [26]:
a = 60            # 60 = 0011 1100
b = 13            # 13 = 0000 1101
c = 0

c = a & b;        # 12 = 0000 1100
print("Line 1 - Value of c is ", c)

c = a | b;        # 61 = 0011 1101
print("Line 2 - Value of c is ", c)

c = a ^ b;        # 49 = 0011 0001
print("Line 3 - Value of c is ", c)

c = ~a;           # -61 = 1100 0011
print("Line 4 - Value of c is ", c)

c = a << 2;       # 240 = 1111 0000
print("Line 5 - Value of c is ", c)

c = a >> 2;       # 15 = 0000 1111
print("Line 6 - Value of c is ", c)

Line 1 - Value of c is  12
Line 2 - Value of c is  61
Line 3 - Value of c is  49
Line 4 - Value of c is  -61
Line 5 - Value of c is  240
Line 6 - Value of c is  15

### If-Elif-Else Stmts

In [28]:
a = 37
b = 35
if b > a:
    # Stmts will get executed when above condition is true
    print("b is greater than a")
    print("Hello")
else:
    # Stmts will get executed when above condition is false
    print("b is less than a")
    print("Hi")

b is less than a
Hi

In [29]:
a = 37
b = 38
if b > a:
    # Stmts will get executed when above condition is true
    print("b is greater than a")
    print("Hello")
elif a == b:
    print("a and b are equal")
else:
    # Stmts will get executed when above condition is false
    print("b is less than a")
    print("Hi")

b is greater than a
Hello

### Loops

### While Loop

In [30]:
count = 0
while (count <= 5):
    print(count)
    count = count + 1  # count += 1

print("GoodBye")

0
1
2
3
4
5
GoodBye

### for Loop

In [37]:
# syntax of range: starting number, ending number +1, increment by
# range(0,6,2) ==> [0,1,2,3,4,5,6,7,8,9]

for x in range(0,5,1):
    print(x, "hi")
    if x == 2:
        break
    else:
        print("Hello")
else:
    print("all went well")

print("Program Ends")

0 hi
Hello
1 hi
Hello
2 hi
Program Ends

In [38]:
for letter in "Hello, Kuldeep":
    if (letter == 'K'):
        continue
    print(letter)

H
e
l
l
o
,

u
l
d
e
e
p

### Nested for loop concept

In [1]:
adj = ["red", "big"] # outer loop
fruits = ["apple", "cherry"] # inner loop

for x in adj:
    print(x)
    for y in fruits:
        print(x,y)

red
red apple
red cherry
big
big apple
big cherry

### match statement

In [31]:
status = 600
match status:
    case 200:
        print('OK') 
    case 400:
        print('Bad Request') 
    case 401 | 403 | 404:
        print('Not Allowed')
    case 600:
        print("I am 600")
    case _:           # wildcard
        print('Something is wrong')

SyntaxError: invalid syntax (1295780117.py, line 2)

In [11]:
def IntRate(bank):
    match bank:
        case 'ICICI':
            print("Interest Rate of ICICI is 5.35%")
        case 'YESBANK':
            print("Interest Rate of YB is 6.50%")
        case 'HDFC':
            print("Interest Rate of HDFC is 6.00%")
        case _:
            print("Interest Rate of ICICI is 5.00%")

IntRate('HDFC')

Interest Rate of HDFC is 6.00%

In [41]:
print("My jackets button is broken")

My jackets button is broken

In [42]:
x = 10
print(x)

10

In [32]:
x='Edureka'
if(type(x) is str):
    x=x+' '+"rocks"  # Line 3
    print('hello')
else:
    x=x+' '+'Python'
    break            # Line 7
    print('hi')
print(x)

SyntaxError: 'break' outside loop (2671448776.py, line 7)

In [ ]:
x=True
y=5
while (x):
    while((y-1)>0):
        print(x,y)
        break
    continue
    print('hello')
    x=False
print('End')

In [37]:
for i in range(1,3):
    # print(i)
    # break
    if(i%2==0):
        for j in range(i,2):
            print('hi')
        else:
            print('hello')
    else:
        for j in range(i,3):
            pass
        else:
            print(i)

1
hello

In [ ]:
import os
os.ar