In [1]:
for i in "Edwin Mesa":
    print(i)

E
d
w
i
n

M
e
s
a

In [6]:
for i in range(5):
    print(i)

0
1
2
3
4

In [7]:
AnimalList = ['Cat','Dog','Tiger','Cow']

for i in AnimalList:
    print(i)

Cat
Dog
Tiger
Cow

In [19]:
programmingLanguages = {'J':'Java','P':'Python'}

for i in programmingLanguages.keys():
    print(i, programmingLanguages[i])

Java
Python

In [20]:
programmingLanguages = {'J':'Java','P':'Python'}

for key, value in programmingLanguages.items():
    print(key, value)

J Java
P Python

In [21]:
a = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6, 'g':7}

for key, value in a.items():
    print(key, value)

a 1
b 2
c 3
d 4
e 5
f 6
g 7

In [22]:
a1 = ['Python','Java','CSharp']
b2 = [1,2,3]

for i, j in zip(a1, b2):
    print(i,j)

Python 1
Java 2
CSharp 3

In [23]:
flowers = ['Jasmine','Lotus','Rose','Sunflower']

for i in flowers:
    print(i)
else:
    print('Done')

Jasmine
Lotus
Rose
Sunflower
Done

In [26]:
list1 = [5,10,15,20]
list2 = ['Tomatoes','Potatoes','Carrots','Cucumbers']

for x in list1:
    for y in list2:
        print(x,y)

# for i in zip(list1,list2):
#     print(i)

(5, 'Tomatoes')
(10, 'Potatoes')
(15, 'Carrots')
(20, 'Cucumbers')

In [27]:
vehicles = ['Car','Cycle','Bus','Tempo']

for i in vehicles:
    if i == 'Bus':
        continue
    print(i)

Car
Cycle
Tempo

In [29]:
numbers = [12,3,56,67,89,90]
sum = 0

for n in numbers:
    sum += n
    
print(sum)

317

In [30]:
numbers = [2,5,6,10,15,20,25]

for i in numbers:
    if i % 5 == 0:
        print(i)

5
10
15
20
25

In [37]:
for i in range(1,10):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
****
*****
******
*******
********
*********

In [38]:
list1 = ['Mango','Banana','Orange']
list2 = []

for i in list1:
    list2.append(i)

print(list2)

['Mango', 'Banana', 'Orange']

In [41]:
numbers = [1,4,50,80,12]
max = 0

for i in numbers:
    if(i  > max):
        max = i

print(max)

80

In [49]:
numbers = [1,4,50,80,12]

for i in range(0, len(numbers)):
    # print(i)
    for j in range(i+1, len(numbers)):
        if(numbers[i] > numbers[j]):
            temp = numbers[i]
            numbers[i] = numbers[j]
            numbers[j] = temp

print(numbers)

[1, 4, 12, 50, 80]

In [50]:
# printing multiples of 3 till 20

for i in range(3,20,3):
    print(i)

3
6
9
12
15
18

In [51]:
# printing multiples of 5 till 20

for i in range(5,20,5):
    print(i)

5
10
15

In [53]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [54]:
for i in range(1,11):
    for j in range(1,11):
        print(i *j, end=' ')
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [57]:
rows = 5

for i in range(1, rows + 1):
    # print(i)
    for j in range(1, i + 1):
        print("*", end=" ")
    print('')

*
* *
* * *
* * * *
* * * * *

In [58]:
names = ['Kelly', 'Jessa', 'Emma']

for name in names:
    count = 0
    while count < 5:
        print(name, end=' ')
        count += 1
    print()

Kelly Kelly Kelly Kelly Kelly
Jessa Jessa Jessa Jessa Jessa
Emma Emma Emma Emma Emma

In [67]:
for i in range(4):
    for j in range(4):
        if i == j:
            break
        print(i, j)

1 0
2 0
2 1
3 0
3 1
3 2

In [68]:
first = [2, 4, 6]
second = [2, 4, 6]

for i in first:
    for j in second:
        if i == j:
            continue
        print(i, '*', j, '=', i * j)

2 * 4 = 8
2 * 6 = 12
4 * 2 = 8
4 * 6 = 24
6 * 2 = 12
6 * 4 = 24

In [69]:
first = [2, 3, 4]
second = [20, 30, 40]
final = []

for i in first:
    for j in second:
        final.append(i+j)
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [70]:
first = [2, 3, 4]
second = [20, 30, 40]
final = [i + j for i in first for j in second]
print(final)

[22, 32, 42, 23, 33, 43, 24, 34, 44]

In [71]:
h_letters = [letter for letter in 'Humans']
print(h_letters)

['H', 'u', 'm', 'a', 'n', 's']

In [73]:
letters = list(map(lambda x : x, 'human'))
print(letters)

['h', 'u', 'm', 'a', 'n']

In [75]:
list = [[x, y] for x in [10,20,30] for y in [30,10,50] if x != y]
print(list)

[[10, 30], [10, 50], [20, 30], [20, 10], [20, 50], [30, 10], [30, 50]]

In [77]:
number_list = [x for x in range(20) if x % 2 != 0]
print(number_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [78]:
num_list = [x for x in range(100) if x % 2 == 0 if x % 5 == 0]
print(num_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [80]:
obj = ["Even" if i % 2==0 else "Odd" for i in range(10)]
print(obj)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [86]:
transposed = []
matrix = [[1, 2, 3, 4], [4, 5, 6, 8]]

for i in range(len(matrix[0])):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
        # print(transposed_row.append(row[i]))
    transposed.append(transposed_row)

print(transposed)

[[1, 4], [2, 5], [3, 6], [4, 8]]

In [88]:
i = 1

while i <= 5:
    j = 1
    while j <= 10:
        print(j, end='')
        j = j + 1
    i = i + 1 
    print()

12345678910
12345678910
12345678910
12345678910
12345678910

In [89]:
print('Show Perfect number fom 1 to 100')
n = 2
# outer while loop

while n <= 100:
    x_sum = 0
    for i in range(1, n):
        if n % i == 0:
            x_sum += i
    if x_sum == n:
        print("Perfect number: ", n)
    n += 1

Show Perfect number fom 1 to 100
Perfect number:  6
Perfect number:  28

In [91]:
numbers = [[1, 2, 3], [4, 5, 6]]

cnt = 0
for i in numbers:
    for j in i:
        print('iteration', cnt, end=': ')
        print(j)
        cnt += 1

iteration 0: 1
iteration 1: 2
iteration 2: 3
iteration 3: 4
iteration 4: 5
iteration 5: 6

In [92]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [93]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [94]:
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [95]:
for x in range(0.5, 5.5, 0.5):
  print(x)

TypeError: 'float' object cannot be interpreted as an integer

In [98]:
sampleSet = {"Jodi", "Eric", "Garry"}
sampleSet.add(3, "Vicki")
print(sampleSet)

TypeError: set.add() takes exactly one argument (2 given)

In [101]:
print(type([]) is list)

False

In [102]:
print(type(0xFF))

<class 'int'>

In [103]:
print(type(10))

<class 'int'>

In [104]:
x = 75
def myfunc():
    x = x + 1
    print(x)

myfunc()
print(x)

UnboundLocalError: local variable 'x' referenced before assignment

In [105]:
print(type({}) is set)

False

In [106]:
print(bool(0), bool(3.14159), bool(-3), bool(1.0+1j))

False True True True

In [108]:
str1 = """Ault'Kelly"""
str1 = 'Ault\'Kelly'
str1 = 'Ault\\'Kelly'

In [109]:
type(range(5))

range

In [110]:
x = 50
def fun1():
    x = 25
    print(x)
    
fun1()
print(x)

25
50

In [111]:
def func1():
    x = 50
    return x
func1()
print(x)

50

In [112]:
x = 0
a = 0
b = -5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

2

In [113]:
x = 0
while (x < 100):
  x+=2
print(x)

100

In [114]:
a, b = 12, 5
if a + b:
    print('True')
else:
  print('False')

True

In [115]:
for num in range(-2,-5,-1):
    print(num, end=", ")

-2, -3, -4,

In [117]:
if -3:
    print("cfsf")

cfsf

In [119]:
x = 0
for i in range(10):
  for j in range(-1, -10, -1):
    x += 1
    print(x)

In [121]:
x = 0
a = 5
b = 5
if a > 0:
    if b < 0: 
        x = x + 5 
    elif a > 5:
        x = x + 4
    else:
        x = x + 3
else:
    x = x + 2
print(x)

3