#### Parameter: It is a measure that could be mean, median, variance, and many more for population data.

#### Statistic: It is a measure that could be mean, median, variance, and many more for sample data.

Problem: A farmer planted 98 tomato plants last year. He has numbered each plant with numbers 1,2,…98. Now he wants to study the growth of the plants. Help the farmer to select 12 plants randomly as a sample for the study using an appropriate sampling technique.

In [77]:
import random
import pandas as pd
import numpy as np

In [78]:
# Simple random sampling without replacement
data1            = list(range(1,99))
sample_without_r = random.sample(data1, k=5)
sample_without_r

[88, 97, 54, 19, 7]

In [79]:
# Simple random sampling with replacement
data1            = list(range(1,99))
sample_with_r = random.choices(data1, k=5)
sample_with_r

[53, 70, 37, 65, 72]

Problem: A rose nursery contains roses of 5 distinct colors. Select two plants of each color randomly.

In [80]:
rose_col = ['White', 'Pink', 'White', 'Red', 'Yellow', 'Orange', 'Orange', 'Red', 'Yellow', 'White', 'Pink','White', 'Red', 'Orange']
df_rose  = pd.DataFrame(rose_col, columns=["Color"])
df_rose.groupby('Color', group_keys=False).apply(lambda x : x.sample(2, random_state=10))

     Color
5   Orange
13  Orange
1     Pink
10    Pink
3      Red
12     Red
9    White
0    White
4   Yellow
8   Yellow

Problem: Ann has collected 20 beautiful blue marbles pebbles on her last summer vacation. Her mother gave her permission to take only 4 pebbles for her friends. Each of the marble is coded with numbers as 1,2,…20. As 2 is her favorite number, she wants to select pebbles starting from the 2nd pebble. Help Ann to systematically select the 4 marble pebbles for her friends.

In [81]:
mar   = list(range(1,21))
mar_a = np.array(mar)
mar_r = mar_a.reshape(4,5)
mar_r

array([[ 1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10],
       [11, 12, 13, 14, 15],
       [16, 17, 18, 19, 20]])

In [82]:
b= []
for i in range(4):
    a = mar_r[i][1]
    b.append(a)
b

[2, 7, 12, 17]

Requirement:

Total data points=100 , Number of Samples =10, Sample Size =10

In [83]:
a = range(100)

means = [] # list of sample means
for i in range(10):
    b = random.sample(a, k=10)
    means.append(np.mean(b))
means

[48.8, 48.5, 56.1, 48.2, 54.7, 58.6, 45.9, 53.0, 46.9, 35.0]

In [84]:
# means sample
np.mean(means)

49.57000000000001

In [85]:
np.mean(a)

49.5

Example: The production manager at the automobile company states that all the steel rods are produced with an average length of 26 cm. Use the data given in the previous question and calculate the sampling error for the mean.

In [88]:
len_rod       = np.array([25.2, 26.3, 28, 21.9, 23.4, 24, 27.2, 23, 29.2, 28.7, 23.1, 23.5, 26.4, 22.8, 24.7])
mu_population = 26
mu_sample     = len_rod.mean() 
print("Sampling error", (mu_population-mu_sample))

Sampling error 0.8399999999999999